<div class="form-signin width-login">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h1 class="h3 mb-3 fw-normal">S'enregistrer</h1>

    <div class="mb-3">
      <%= f.label :email do %>
        <%= "Email" %>
      <% end %>
      <%= f.email_field :email, class: "form-control mb-2", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, "Mot de passe" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em>
      <% end %>
      <%= f.password_field :password, class: "form-control mb-2", autocomplete: "new-password" %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, "Mot de passe" %>
      <%= f.password_field :password_confirmation, class: "form-control mb-3", autocomplete: "new-password" %>
    </div>

    <div class="actions mb-1">
      <%= f.submit "Valider", class: "btn btn-primary w-100 py-2" %>
    </div>
  <% end %>

  <div class="actions mb-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
