<p style="color: green"><%= notice %></p>

<h1  class="d-flex justify-content-center">Flights</h1>

<div class="d-flex justify-content-center">
  <%= link_to "New flight", new_flight_path, class: "btn btn-warning text-white" %>
</div>

<div class="mx-5">
  <table class="table table-striped table-bordered text-center">
    <thead>
    <tr>
      <th>Numero</th>
      <th>Depart</th>
      <th>Arrivé</th>
      <th>Heure de depart</th>
      <th>Heure d'arrivé</th>
      <th>Reserver</th>
    </tr>
    </thead>
    <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.number %></td>
        <td><%= flight.departure_airport %></td>
        <td><%= flight.arrival_airport %></td>
        <td><%= flight.departure_date %></td>
        <td><%= flight.departure_date + flight.duration.minutes %></td>
        <td><%= link_to "Reserver", new_reservation_path(flight_id: flight.id), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @flights, class: 'pagination d-flex justify-content-center' %>
