<p style="color: green"><%= notice %></p>

<h2  class="d-flex justify-content-center mb-4">Tous les vols</h2>

<div class="mx-5">
  <table class="table table-striped table-bordered text-center">
    <thead class="align-middle">
    <tr>
      <th>Numéro de vol</th>
      <th>Aéroport de départ</th>
      <th>Aéroport d’arrivée</th>
      <th>Date et heure de départ</th>
      <th>Date et heure d’arrivée</th>
      <th>Réserver</th>
    </tr>
    </thead>
    <tbody class="align-middle">
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.number %></td>
        <td><%= flight.departure_airport %></td>
        <td><%= flight.arrival_airport %></td>
        <td><%= l flight.departure_date, format: :default_without_second %></td>
        <td><%= l flight.departure_date + flight.duration.minutes, format: :default_without_second %></td>
        <td>
          <%# Si la date de départ est supérieure à la date actuelle, on affiche le bouton de réservation %>
          <% if flight.departure_date > Time.now %>
            <%= link_to "Réserver", new_reservation_path(flight_id: flight.id), class: "btn btn-primary" %>
          <% else %>
            La date de départ est passée
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @flights, class: 'pagination justify-content-center' %>
