<div class="form-signin width-login">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h1 class="h3 mb-3 fw-normal">Mot de passe oublié ?</h1>
    <p>Nous vous enverrons un e-mail avec plus d'informations pour réinitialiser votre mot de passe.</p>

    <div class="mb-3">
      <%= f.label :email do %>
        <%= "Email" %>
      <% end %>
      <%= f.email_field :email, class: "form-control mb-2", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions mb-1">
      <%= f.submit "Envoyez le mail", class: "btn btn-primary w-100 py-2" %>
    </div>
  <% end %>

  <div class="actions mb-4">
    <%= render "devise/shared/links" %>
  </div>
</div>

