<div class="mx-5 mt-2">
    <h1>Créer une nouvelle réservation</h1>
    <p class="mb-4">Récap du vol : <%= @flight.departure_airport %> - <%= @flight.arrival_airport %> (<%= @flight.number %>) </p>

  <%= form_with model:@reservation, url: reservations_path, method: :post do |form| %>
    <%= form.hidden_field :flight_id, value:@reservation.flight_id %>
    <%= form.hidden_field :user_id, value:@reservation.user_id %>

    <div class="form-group">
      <%= form.label :seat_number, "Nombre de sièges:" %>
      <%= form.number_field :seat_number, in: 1..@max_seat, value:@current_nb_seat, class: "form-control w-50" %>
    </div>

    </br>

    <div class="form-group">
      <%= form.label :seat_class_choice_id, "Classe de sièges:" %>
      <%= form.select :seat_class_choice_id, @all_seat_class_choice.map {|item| [item.name, item.id]}, { selected: @default_class_seat }, { onchange: "changeClass(this.value);", class: "form-control w-50" } %>

    </div>

    </br>
      <%= form.submit "Valider", class: "btn btn-primary mt-1" %>
    <% end %>

    <div>
      <%= link_to "Retour à la page principale.", flights_path %>
    </div>
</div>


<script>
    const flight_id = document.getElementById("reservation_flight_id").value;

    //Faire un call AJAX plutot pour récupérer le nombre de sièges pour la classe de voyage?
    function changeClass(id_class_seat) {
        const current_nb_seat = document.getElementById("reservation_seat_number").value;
        window.location.href = "/reservations/new?flight_id=" + flight_id + "&seat_class_choice_id=" + id_class_seat + "&nb_seat=" + current_nb_seat;
    }
</script>