<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Bonjour <%= @reservation.user.email %>, merci pour votre réservation !</p>
<p>
  Order details<br>
  --------------------------
</p>

<p>Code de réservation : <%= @reservation.code %></p>
<p>Classe du/des siège(s) : <%= @reservation.seat_class_choice.name %></p>
<p>Nombre de(s) siège(s) : <%= @reservation.seat_number %></p>
<p>Vol : <%= @reservation.flight.arrival_airport %> - <%= @reservation.flight.departure_airport %> (<%=  l @reservation.flight.departure_date, format: :default_without_second %> - <%= l @reservation.flight.departure_date + @reservation.flight.duration.minutes, format: :default_without_second %>)</p>

<p>
  Message:<br>
  ----------
</p>
Merci pour votre réservation !
</body>
</html>