<div class="form-signin width-login">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="h3 mb-3 fw-normal">Se connecter</h1>
    <div class="form-floating">
      <%= f.email_field :email, class: "form-control mb-2", id: "floatingInput", spellcheck: false, autofocus: true, autocomplete: "email" %>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <%= f.password_field :password, class: "form-control", id: "floatingPassword", spellcheck: false, autocomplete: "current-password" %>
      <label for="floatingPassword">Mot de passe</label>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check text-start my-3">
        <%= f.check_box :remember_me, class: "form-check-input", id: "flexCheckDefault", spellcheck: false %>
        <label class="form-check-label" for="flexCheckDefault">
          Se souvenir de moi
        </label>
      </div>
    <% end %>

    <%= f.submit "Se connecter", class: "btn btn-primary w-100 py-2" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
